@import url(fonts.css);
@import url(base.css);
@import url(nav.css);
@import url(slanted.css);
@import url(footer.css);

/*SLIDER------------------------------------------------------*/
.item {
	position: relative;
}

.item h2 {
	margin-bottom: 50px; 
	font-size: 1.5rem;    
	text-shadow:-1px -1px 0 #000;
	font-family: "NunitoLight", sanserif;
}

.item h2, .slider_button {
	position: absolute;
	bottom: 5%;    
	color: #fff;	
    width: 90%;    
}

.slider_button {
	background: transparent;
	border: 1px solid #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}    

.slider_button:hover {
	background: rgba(0, 0, 0, .5);
}

.slider_button a {
	font-size: 1rem;  
	color: #fff;
	padding: 8px 12px; 
	text-decoration: none;
    text-shadow: 1px 1px #000;
}

/*owl-carousel*/
.main_slider .item {
	max-height: calc(100vh - 88px);
	overflow: hidden;
}

#owl-demo .item img {
    display: block;
    width: 100%;  /*dać na max-width*/
    height: auto;
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7);
}

.big_pic {
	display: none !important;
}

.owl-theme .owl-controls {
	margin-top: 0;
	display: none !important;
}

.owl-pagination {
	position: absolute;
    bottom: 20px;
    left: 45%;
}

.owl-theme .owl-controls .owl-buttons .owl-prev,
.owl-theme .owl-controls .owl-buttons .owl-next {
	background: none;
	margin: 0;
	position: absolute;
    bottom: 0;
    top: 0;
    width: 140px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
	left: -20px;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
	right: 0;
}

.owl-theme .owl-controls .owl-buttons .owl-prev .icon-chevron-left,
.owl-theme .owl-controls .owl-buttons .owl-next .icon-chevron-right {
	/*opacity: .4;*/
}

.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
.owl-theme .owl-controls .owl-buttons .owl-next:hover {
	/*background: #fff;*/
	opacity: .1;
}

.icon-chevron-left,
.icon-chevron-right {
	font-size: 80px;
	display: none;
	height: 100px;
    width: 100px;
}

.icon-chevron-left {
	background: url(../svg/arrow_left.svg) no-repeat;
}

.icon-chevron-right {
	background: url(../svg/arrow_right.svg) no-repeat;
}

/*under-main section------------------------------------------*/
.under_slider {
	position: relative;
	margin-bottom: 100px;
}

.slanted {
	background: #d6b088;	
	height: auto;
	z-index: 1;
}

.slanted h1 {
    color: #fff6e9;
}

.slanted p {
    color: #fff6e9;
    padding: 20px 0 5% 0;
    margin-left: 13%;
}

.ornament_svg {
	display: none;
}

/*expertsise ---------------------------------*/
.expertise>p.regular {
	font-size: 1.25rem;
	font-weight: bold;
	margin: 70px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.expertise p {
	text-align: center;
	font-size: 1.1875rem;
	line-height: 0;
}

.expertise img {
	margin-bottom: 30px;
	max-width: 240px;
}

.expertise_inner {
	width: 80%;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.web, .product, .management, .ios, .data, .iot {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 90px;
}


/*SERVICE----------------------------------------------*/
.service {
	background-image: url("../img/service.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 696px;
	width: 100%;
	position: relative;	
	z-index: 999;
}

.service-wrapper {
	margin-top: 162px;	
}

.service_bottom {
    position: absolute;
    bottom: -1px;
    width: 100%;
    padding: 6% 0 0;
    background: #d4e1e5;
    min-height: auto;
    z-index: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.service_wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.service_bottom h2 {
    font-size: 4rem;
    color: #414b6d;
    text-align: center;
    margin: 20px 0 40px;
}

.service_right {
    width: 285px;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-bottom: 30px;
}

/*UNDER_SERVICE----------------------------------------------*/
.under_service {
	margin: 70px 0 120px;
}

.under_service .row {
	position: relative;
}

.number1:before {
	content: "1.";
}

.number2:before {
	content: "2.";
}

.number3:before {
	content: "3.";
}

.number1:before,
.number2:before,
.number3:before{
    font-size: 110px;
    color: #e3eff3;
    z-index: -1;
    font-family: 'Houschka', sanserif;
}

.big {
    position: relative;
    z-index: 999;
}

.header_p {
	font-size: 1.25rem;
    font-weight: bold;
    color: #414b6d;
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main_paragraph {
	font-size: 1.1875em;
	line-height: 30px;
	font-family: 'NunitoLight', sanserif;
}

.wrapper_small {
	margin: 0 auto 60px;
	width: 85%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.space_after {
	position: relative;
	margin: 50px 0 10px;
}

.no-after:after {
	display: none;
}

.small {
	line-height: 30px;
    margin: 0 0 30px;
    font-family: 'NunitoLight', sanserif;
    font-size: 1.1875rem;
}

#strategy,
#design,
#improvements {
	position: relative;
	bottom: 100px;
}

#workshops {
	position: relative;
	bottom: 200px;
}

.bottom_info {
  margin: 20px auto 0;
  color: #d4b89b;
  font-size: 1.1875rem;
  position: relative;
  position: relative;
  z-index: 999;
}

.bottom_info p {
	margin-bottom: 30px;
}

.bottom_info:before {
    content: "";
    background: url(../svg/workshops.svg) no-repeat top left;
    background-size: contain;
    width: 70px;
    height: 70px;
    display: block;
    margin: 35px auto 40px;
}

.button_workshops {
	background: transparent;
	margin: 10px auto 0;
	width: 260px;
	height: 55px;
	border: 1px solid #d4b89b;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}    

.button_workshops a {
	color: #d4b89b;
	text-decoration: none;
	padding: 15px 63px;
}

.button_workshops:hover {
	background: rgba(212, 184, 155, .7);	
}

.button_workshops a:hover {
	color: #fff;
}



/*TRUST----------------------------------------------*/
.trust {	
	position: relative;	
	z-index: 999;
}

.first_fixed {
	background-image: url("../img/trust.jpg");
	background-attachment: fixed;
	background-size: cover;
	height: 796px;
	width: 100%;
	background-position: center;
	-webkit-filter: grayscale(50%);
	        filter: grayscale(50%);
	position: relative;
	bottom: 50px;
}

.trust_bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #414b6d;
    min-height: auto;
    z-index: 1;
}

.trust_left, .trust_right {
	padding-top: 30px;
	text-align: center;
}

.trust_left h2 {
	font-weight: bold;
    font-size: 2.8rem;
    color: #d6b088;
}

.trust_left p {
	color: #9599a9;
	font-size: 1.1875rem;
	padding: 5px 0 0 0;
}

.trust_left a {
	color: #9599a9;
}

.trust_icon_1, .trust_icon_2, .trust_icon_3 {
	position: relative;
	margin-bottom: 25px;
}

.trust_icon_1:before, .trust_icon_2:before, .trust_icon_3:before {
	content: "";
	position: absolute;
	width: 90px;
	display: inline-block;	
	height: 90px;
	left: -20px;
        top: -5px;
}

.trust_icon_1:before {	
	background: url("../svg/clock.svg") no-repeat;	
}

.trust_icon_2:before {
	background: url("../svg/money.svg") no-repeat;	
}

.trust_icon_3:before {
	background: url("../svg/bulb.svg") no-repeat;
}

.trust_icon_1, .trust_icon_2, .trust_icon_3 {
	padding: 20px 0 0 70px;
    font-size: 1.1875rem;
    line-height: 30px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
	font-family: 'NunitoRegular', sanserif;
	font-weight: bold;
	display: inline-block;
}

.button_white a {
	font-size: 1.125em;
	color: #fff;
	text-decoration: none;
	padding: 20px 0;
    display: inline-block;
    text-shadow: 1px 1px #000;
}

/*FOOTER-------------------------------*/
footer {
	background: #d6b088;	
}

.left_bottom {
  color: #ab7a46;
}

.right_bottom {
  color: #ab7a46;
}



/*MEDIA QUERIES*/
@media(min-width:600px) {
	.item h2 {
		font-size: 2rem;
		margin-bottom: 60px;
	}

	.item h2, .slider_button{
		width: 60%;
		bottom: 8%;
	}

	.slider_button { 
		max-width: 250px;
	}

	.slider_button a {
		padding: 16px 13px;
		font-size: 1.1875rem;
	}

	.owl-theme .owl-controls {
		display: block !important;
	}	

	.under_slider {
		margin-bottom: 6%;
	}

	.web, .product, .management, .ios, .data, .iot {		
		width: 50%;	
	} 

	.trust_left h2 {	
    	    font-size: 4rem;    
	}

	.first_fixed {
		/*background-image: url("../img/trust.jpg");*/
		background-attachment: fixed;
		background-size: cover;
		height: 796px;
		width: 100%;
		background-position: center;
		-webkit-filter: grayscale(50%);
		        filter: grayscale(50%);
		position: relative;
		bottom: 50px;
	}	
}

@media(min-width:768px) { 
	.ornament_svg {
        width: 35vw;
	    max-width: 460px;
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    display: inline-block;
	}	  

	.small_pic {
		display: none;
	}	

	.big_pic {
		display: block !important;
	}

	.icon-chevron-left,
	.icon-chevron-right {
		position: relative;
		display: inline-block;
	}

	.trust_left h2 {
		margin-top: 15%;
	}
}


@media(min-width: 800px) { 
	.service_right {
		float: right;
		width: 315px;  /*dodać relative units*/
	}

	.big {
	    position: relative;
	    padding-left: 40%;
	}

	.number1:before,
	.number2:before,
	.number3:before{
	    position: absolute;
	    left: -70px;
	    top: -50px;
	}

	.bottom_info {
	  width: 570px;
	}

	.bottom_info p {
		white-space: nowrap;
	}

	.trust_icon_1, .trust_icon_2, .trust_icon_3 {
	}
}


@media(min-width:1000px) { 
	.item h2 {
		font-size: 3rem;
		margin-bottom: 70px; 
	}

	.item h2, .slider_button{
		width: 50%;
		/*bottom: 12%;*/
	}

	.web, .product, .management, .ios, .data, .iot {		
		width: 32%;	
	}

	.service_bottom {
		min-height: 360px;		
		-webkit-clip-path: polygon(0 24%, 100% 1%, 100% 100%, 0 100%);
		-ms-clip-path: polygon(0 24%, 100% 1%, 100% 100%, 0 100%);
		clip-path: url("#clipService");
		-moz-clip-path: url("#clipService");
		-moz-clip-path: polygon(0 24%, 100% 1%, 100% 100%, 0 100%);
	}

	.service_bottom h2 {	
    	font-size: 5.95rem;    
 	}	

 	.service_right {
		float: right;
		width: 425px;  
	}
	.space_after:after {
		content: "";
	    height: 2px;
	    width: 100%;
	    position: relative;
	    bottom: -100px;
	    left: 0px;
	    background: lightgray;
	    -webkit-transform: skewY(-3deg);
	            transform: skewY(-3deg);
	    opacity: .3;
	    z-index: 999;
	}

	.under_service {
		margin: 150px 0 150px;
	}

	.space_after {
		position: relative;
		margin: 70px 0 200px;
	}

	.no-after {
		margin-bottom: 270px;
	}

	.small {
		margin-bottom:  3%;
	}

	.paragraph_2 {
		width: 68%;
	}

	.paragraph_3 {
		width: 77%;
	}

	.bottom_info:before {	    
	    display: inline-block;
	    position: absolute;
	    left: -115px;
	    bottom: 55px;
	    margin: 0;
	}

	.trust_bottom {
		-webkit-clip-path: polygon(0 24%, 100% 1%, 100% 100%, 0 100%);
		-ms-clip-path: polygon(0 24%, 100% 1%, 100% 100%, 0 100%);
		clip-path: url("#clipTrust");
		-moz-clip-path: url("#clipTrust");
		-moz-clip-path: polygon(0 24%, 100% 1%, 100% 100%, 0 100%);		 
	 }

	.trust_left {
		padding: 155px 0 0 15px;
	}

	.trust_left h2 {
		font-weight: bold;
	    font-size: 5.95rem;
	    color: #d6b088;
	    text-align: left;
	    margin-top: 0;
	}

	.trust_right {
		padding-top: 90px;
		text-align: left;
	}
}

@media(min-width:1200px) {
	.service_bottom {
		min-height: 360px;
	}
}

@media(min-width:1450px) {
	.item h2, .slider_button{
		bottom: 12%;
	}
} 

@media(min-width:1500px) { 
	.ornament_svg {
	    max-width: 640px;
    	bottom: -80px;
	}
}
