*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  }

  .container {
	max-width: 1120px;
	margin: 0 auto;
}

[class*="col-"] {
    width: 100%;
    float: left;
    padding: 0 15px;
}

@media only screen and (min-width: 37.5rem) {
    .col-m-1 { width: 8.33%; }
    .col-m-2 { width: 16.66%; }
    .col-m-3 { width: 25%; }
    .col-m-4 { width: 33.33%; }
    .col-m-5 { width: 41.66%; }
    .col-m-6 { width: 50%; }
    .col-m-7 { width: 58.33%; }
    .col-m-8 { width: 66.66%; }
    .col-m-9 { width: 75%; }
    .col-m-10 { width: 83.33%; }
    .col-m-11 { width: 91.66%; }
    .col-m-12 { width: 100%; }
}

@media only screen and (min-width: 48rem) {
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }
}

@media only screen and (min-width: 62.5rem) {
  .col-3__long {width: 25%;}
  .col-9__long {width: 75%;}
}

.row {
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

body {
	font-size: 16px;
	font-family: 'NunitoRegular', sanserif;
  background: #fffffe;
  overflow-x: hidden;
}

img{
	max-width: 100%;
	height: auto;
}

h1, h2, h3 {
	font-family: Houschka, sanserif;
}

p {
	line-height: 1.5;
}

.owl-theme .owl-controls .owl-page span {
	width: 10px !important;
	height: 10px !important;
}

.wrapper {
	/*min-width: 450px;*/
	max-width: 1450px;
	margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.relative {
  position: relative;
}

.uppercase {
	text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-centered--Y {
  display: flex;
  align-items: center;
}

.flex-centered--X {
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column
}

.space-between-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.houschka {
	font-family: 'Houschka', sanserif;
}

.light {
	font-family: 'NunitoLight', sanserif;
}

.medium {
	font-family: 'Nunito-SemiBold', sanserif;
}

.regular {
	font-family: 'NunitoRegular', sanserif;
}

.extra {
  font-family: 'Nunito-ExtraBold', sanserif;
}



@media(min-width: 1100px) {
	[class*='col-']:last-of-type {
 		 padding-right: 0;
	}
}
