/*NAVIGATION----------------------------*/
.sticky {
    z-index: 1000;
	position: fixed;
	width: 100%;
	background: #fffffe;
    border-bottom: 1px solid rgba(211, 211, 211, .3);
}

.mask {
   height: 88px;
}

.sticky a.logo {
    margin-top: 10px;
}

header a.logo {
	display: inline-block;
    background-image: url(../svg/logo.svg);
    height: 78px;
    min-width: 180px;
    text-indent: -999999em;
    margin: 10px 0 0 -15px;
}

nav#nav-main .navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center;
    display: none;
}

nav#nav-main ul {
	margin-top: 28px;
}

nav#nav-main li {
    display: block;
}

nav#nav-main li:last-child {
    border-right: none;
    /* display: none; */
}       

nav#nav-main ul li a {
    display: block;
    color: #333;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
}

nav#nav-main li a:after {
	content: '';
	display: block;
	margin: 3px auto 0;
	height: 5px;
	width: 0px;
	background: transparent;
	/*transition: width .5s ease, background-color .5s ease;*/
}

.current:before {
    content: '';
    display: block;
    margin: 3px auto 0;
    height: 5px;
    width: 107px;
    position: relative;
    top: 25px;
    background: #000;
}

nav#nav-main li a:hover:after {
	width: 100%;
	background: #000;
}

.switch {
    color: #000;
    padding: 10px 15px;
    float: right;
    font-size: 1.2em;
    margin: 20px 20px auto 5px;
	border: 1px solid #000;
}

/*SWITCH*/
/*@media screen and (max-width: 990px) {
  .switch {
    display: inline-block;
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .switch {
    float: right;
    padding: 5px;
    font-size: 16px;
  }
}*/


/*MEDIAQUERIES*/
@media(min-width: 900px) {
    .switch {
        display: none;
    }    

    header a.logo {
        min-width: 205px;
    }
}

@media(min-width: 900px) {
    nav#nav-main .navigation {
        display: inline-block;
        float: right;
    }
    nav#nav-main li {
        display: inline-block;
    }
}

@media(min-width: 850px) {
    nav#nav-main li:last-child {
        display: inline-block;
    } 
}