@import url(fonts.css);
@import url(base.css);
@import url(nav.css);
@import url(slanted.css);
@import url(footer.css);
.slanted {
    background: #e7d9ca;
    padding-top: 30px;
}

.slanted h1 {
    font-size: 3rem;
    padding: 0;
    color: #353535;
    margin-bottom: 10px;
}

.slanted p {
    color: #353535;
}

.banner_svg {
    height: 52px;
    margin-bottom: 10px
}


/* .ornament {
    display: none;
} */


/*OFFER section------------------------------------------*/

.offer_section {
    margin: 30px 0 70px;
}

.offer_section .light {
    padding-top: 5px;
}

.offer-main__block {
    display: flex;
    padding-bottom: 20px;
}

.offer_section p {
    padding: 0;
    width: 100%;
    font-size: 1.1875rem;
}

.offer__svg {
    height: 35px;
    width: 52px;
    padding-right: 20px;
    fill: black;
}

p.offer__title--to-right {
    padding-left: 50px;
}

.trio__svg {
	height: 35px;
    width: 49px;
    padding-right: 3px;
}

.trio__wrapper {
	margin-right: 10px;
}


/*SMALL BANNER section------------------------------------------*/

.small_banner {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    text-align: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/user_needs/user_needs_photo.jpg");
}

.banner__form {
    display: flex;
    flex-direction: column;
}

.banner__input {
    height: 62px;
    background: transparent;
    border: 1px solid #fff;
    margin-bottom: 30px;
    width: calc(100vw - 30px);
    color: #fff;
    text-align: left;
    font-size: 1.25rem;
    padding-left: 20px;
}

.banner__input::-webkit-input-placeholder {
    font-size: 1.25rem;
    color: gray;
    text-align: left;
    padding-left: 5px;
}
.banner__input::-moz-placeholder {
    font-size: 1.25rem;
    color: gray;
    text-align: left;
    padding-left: 5px;
}
.banner__input:-ms-input-placeholder {
    font-size: 1.25rem;
    color: gray;
    text-align: left;
    padding-left: 5px;
}
.banner__input:-moz-placeholder {
    font-size: 1.25rem;
    color: gray;
    text-align: left;
    padding-left: 5px;
}

.banner__button {
    height: 62px;
    background: transparent;
    border: 2px solid #fff;
    font-size: 1.25rem;
    width: 100%;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.banner__button:hover {
    background: rgba(0, 0, 0, .5);
}


/*LINKS section------------------------------------------*/

.personas_section {
    background: #e7d9ca;
    padding-bottom: 30px;
}

.personas-title {
    text-align: center;
    padding: 70px 0 60px;
    font-size: 1.25rem;
}

.personas-dog__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.personas-dog__svg {
    height: 105px;
}

.personas-panel {
    margin-bottom: 50px;    
}

.personas-hook {
    position: relative;
}

.persona__caption {
    margin-top: 10px;
}

.persona__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.personas-text__block {
    font-size: 1.1875rem;
}

.persona-text {
    margin-bottom: 50px;
}


/*JOURNEY section------------------------------------------*/

.journey_section {
    padding-bottom: 20px;
}

.journey-title {
    padding: 70px 0 50px;
    text-align: center;
    font-size: 1.25rem;
}

.journey-map__svg {
    margin-bottom: 50px;
}

.journey-text {
    margin-bottom: 40px; 
    font-size: 1.1875rem;
}

.journey-star__svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


/*LINKS section------------------------------------------*/

.one-third--links {
    background: #e7d9ca;
    padding: 40px 0;
}

.one-third__block {
    padding-bottom: 30px;
}

.separator {
    border-bottom: 1px solid #ddc2a7;
    margin-bottom: 20px;
}

.one-third__container {
    display: flex;
    margin-bottom: 15px;
}

.one-third__svg {
    height: 47px;
    padding-right: 15px;
}

.one-third__title {
    align-self: flex-end;
    font-weight: bold;
}

.one-third__text {
    margin-bottom: 30px;
}

.one-third__button {
    border: 1px solid #ddc2a7;
    background: #fff;
    display: flex;
    justify-content: center;
    height: 50px;
    transition: background-color 0.2s ease;
}

.one-third__button a {
    font-size: 1rem;
    color: #404040;
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    height: 100%;
    text-decoration: none;
}

.one-third__button:hover {
    background: rgba(204, 178, 155, .5);
    /* border: rgba(204, 178, 155, .5); */
}

.one-third__button a:hover {
    color: #fff;
}

.one-third__text-short {
    width: 94%;
}

/*MEDIA QUERIES*/

@media(min-width:768px) {
    .offer__row {
        display: flex;
    }
    .one-third__text {
        margin-bottom: 0;
        height: 100px;
    }
    .journey_section {
        padding-bottom: 70px;
    }
    .journey-text {
        margin-bottom: 0; 
    }
    .personas-panel {
        margin-bottom: 0;
    }
    .persona-text {
        margin-bottom: 40px;
    }
    .separator {
        margin-bottom: 0;
        border-bottom: 0;
    }
    .personas-dog__svg {
        margin: 0 30px;
    }
}

@media(min-width:1000px) {
    .slanted {
        height: 370px;
    }
    .one-third__block {
        width: 290px;
    }
    .slanted p {
        font-size: 1.1875rem;
        width: 68%;
        padding: 0;
    }
    .ornament {
        height: auto;
        top: 25px;
        position: absolute;
        /* right: -15px; */
        max-width: 36%;
        z-index: -1;
        display: block;
        /* right: -40px; */
    }
    .offer__title--to-right {
        /* margin-left: 52px; */
    }
    .banner__form {
        flex-direction: row;
        justify-content: center;
    }
    .banner__input {
        max-width: 550px;
        margin: 0 15px 0 0;
    }
    .banner__button {
        width: 250px;
    }
    .middle__block:before {
        content: "";
        display: block;
        border-left: 1px solid #ddc2a7;
        position: absolute;
        left: -20px;
        top: -40px;
        bottom: 0;
        /* width: 350px; */
        height: 322px;
    }

    .middle__block:after {
        content: "";
        display: block;
        border-right: 1px solid #ddc2a7;
        position: absolute;
        right: 30px;
        top: -40px;
        bottom: 0;
        /* width: 350px; */
        height: 322px;
    }    
    .personas-dog__svg {
        margin: 0 45px;
    }
}

@media(min-width:1050px) {
    .slanted {
        height: 320px;
    }
    .persona-text {
        padding-left: 60px;
    }
} 

@media(min-width:1100px) {
    .personas-dog__block:before {
        content:url('../svg/user_needs/dashed_line_1.svg');
        display: inline-block;
        width: 90px;
        height: 165px;
        position: absolute;
        bottom: -35%;
        left: 4%;
    }
    .personas-hook:before {
        content:url('../svg/user_needs/dashed_line_2.svg');
        display: inline-block;
        width: 350px;
        height: 130px;
        position: absolute;
        top: 14%;
        right: -7%;
    }  
    .personas-hook:after {
        content:url('../svg/user_needs/dashed_line_3.svg');
        display: inline-block;
        width: 605px;
        height: 125px;
        position: absolute;
        bottom: -12%;
        left: 26%;
        transform: rotate(11deg);
    }    
}